@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  body {
    background: #f3f2f8;
    height: 100%;
    font-family: 'Inter', sans-serif;
  }

  @keyframes shake {
    0% {
      transform: rotate(-5deg);
    }

    50% {
      transform: rotate(5deg);
    }

    100% {
      transform: rotate(-5deg);
    }
  }

  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fade {
    0% {
      opacity: 0.5;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(2);
    }
  }

  @keyframes jump-game {
    0% {
      transform: translate(-2px, 0);
    }
    50% {
      transform: translate(-2px, -5px);
    }
    100% {
      transform: translate(-2px, 0);
    }
  }

  .animate-fade {
    animation: fade 1s;
  }

  .animate-shake {
    animation: shake 1s infinite;
  }

  .animate-jump {
    animation: jump 200ms;
  }
  .animate-jump-game {
    animation: jump-game 200ms;
  }
}
