@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  body {
    background: #f3f2f8;
    height: 100%;
    font-family: 'Inter', sans-serif;
  }

  @keyframes shake {
    0% {
      transform: rotate(-5deg);
    }
    25% {
      transform: rotate(0deg) translate(0, 5px);
    }
    50% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(0deg) translate(0, 5px);
    }
    100% {
      transform: rotate(-5deg);
    }
  }

  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-shake {
    animation: shake 1s infinite;
  }

  .animate-jump {
    animation: jump 200ms;
  }
}
